# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\学习\平常学习\Netty\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
